body {
  overflow: hidden;   /*To avoid scrollbars appearing because Canvas is by default an inline element*/
  margin: 0;
  /*margin do Body por default é 8px */
  /*border: 5px solid red;*/
}

#container {
  position: relative;
  /*border: 5px solid yellow;*/
}

#canvas {
  position: absolute;
  z-index: 1;
  /*border: 5px solid blue;*/
}